/* Color palettes */
:root {
    --primary-color: #4F000B;
    --secondary-color: #CE4257;
    --third-color: #FF7F51;
    --fourth-color: #FF7F51;
    --fifth-color: #FF9B54;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--third-color);
}
header, main, footer {
    width: 900px;
    margin: 0 auto;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    background-color: var(--primary-color);
}
.header img{
    align-self: center;
    justify-self: center;
}
nav{
    display:inline-block;
    align-self: center;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.header li{
    list-style-type: none;
}
.header a{
    text-decoration: none;
    color: var(--fifth-color);
}
h1, h2 {
    font-weight: 700;
    color: var(--third-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
h1 {
    position: absolute;
    top: 20px;
    right: -5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    background-color: #26262689;
    color: var(--third-color);
}
article{
    position: absolute;
    bottom: 0;
    background-color: #26262689;
}
article p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px;
}
.hero article img{
    float: right;
    width: 80px;
}
.socialmedia a {
    text-decoration: none;
}
.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history img{
    margin: 10px;
    width: 80%;
    justify-self: center;
    align-self: center;
}
.history_title{
    justify-self: center;
}
.pre-footer h2{
    justify-self: center;
}
.pre-footer-imgs{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.pre-footer figure{
    width: 150px;
}
figure img{
    width: 150px;
}
footer{
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 30px;
    margin: 0 5px;
}
footer nav{
    position: absolute;
    right: 10px;
}