/* Color palettes */
:root {
    --primary-color: #005c5a;
    --secondary-color: #CE4257;
    --third-color: #FF7F51;
    --fourth-color: #FF7F51;
    --fifth-color: #FF9B54;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--third-color);
    background-color: rgb(254, 255, 244);
}
header, main, footer {
    width: 900px;
    margin: 0 auto;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    background-color: var(--primary-color);
    border-radius: 10px;

}
.header img{
    align-self: center;
    justify-self: center;
    width: 100px;
    margin: 1rem 0;
}
nav{
    display:inline-block;
    align-self: center;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.header li{
    list-style-type: none;
}
.header a{
    text-decoration: none;
    color: var(--fifth-color);
    font-size: 20px;
}
h1, h2 {
    font-weight: 700;
    color: var(--third-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.hero h1 {
    position: absolute;
    top: 20px;
    right: -5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px 30px rgb(0, 0, 0);
    color: var(--third-color);
}
article{
    position: absolute;
    bottom: 0;
    background-color: #093f3eb7;
}
article p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}
.hero article img{
    float: right;
    width: 80px;
}
.socialmedia a {
    text-decoration: none;
}
.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history img{
    margin: 10px;
    width: 80%;
    justify-self: center;
    align-self: center;
}
.history_title{
    justify-self: center;
}
.pre-footer h2{
    justify-self: center;
}
.pre-footer-imgs{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.pre-footer figure{
    width: 150px;
}
figure img{
    width: 150px;
}
footer{
    display: flex;
    position: relative;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 30px;
    margin: 0 5px;
}
footer nav{
    position: absolute;
    right: 10px;
}
                            /* Section for contact Page */

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contact-info h1{
    padding: .5rem;
}
.contact-info h3{
    padding: .1rem;
}
.form-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}
.form-section iframe{
    width: 400px;
    height: 400px;
}
.form-item {
  display: grid;
  align-items: center;
  margin: 20px 0;
}
.column1 {
  grid-template-columns: 1fr 2fr;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.column2 p{
    justify-self: left;
    margin: 0;
    padding: 0;
}
.column3{
    display: flex;
    justify-self: left;
}
.column3 input{
    width: 20px;
}
.message-title{
    display: block;
}
textarea{
    resize: none;
    display: block;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
}
button{
    display: block;
    margin-top: 15px;
    height: 25px;
    width: 450px;
}
.newsletter_section{
    margin: 60px 0;
}
.newsletter_section input{
    height: 30px;
}
.newsletter_section button{
    width: 900px;
    height: 40px;
    background-color: #005c5a;
    color: #FF9B54;
    font-size: 20px;
}
.newsletter_section button:hover{
    cursor: pointer;
}
.newsletter_section h1{
    align-self: center;
    justify-self: center;
}
.call_to_action{
    position: relative;
}
.call_to_action img{
    width: 900px;
    filter: brightness(50%);
}
.content_cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content_cta h1{
    justify-self: center;
    color: rgb(254, 255, 244);
}
.content_cta button{
    width: 200px;
    justify-self: center;
    height: 40px;
    background-color: var(--third-color);
    border: none;
    color: rgb(254, 255, 244);
}
.content_cta button:hover{
    cursor: pointer;
}
.pre-footer p {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}