:root {
    --box-shadow: 0 0 30px gray;
    --border: 1px solid black;
    --color-1: #A4243B;
    --color-2: #D8C99B;
    --color-3: #D8973C;
    --color-4: #BD632F;
    --color-4: #273E47;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif ;
    font-size: 20px;
}
main{
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
    margin: 3rem 0;
}
.grid{
    display: grid;
    align-items: center;
}
nav{
    background-color: #273E47;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a {
    color: #D8C99B;
    display: block;
    padding: 20px;
    text-decoration: none;
}
h1 {
    color: #A4243B;
    padding: 2rem;
    border-bottom: 1px solid gray;
}
img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}
p {
    padding: 0;
    padding-left: 1rem;
    margin: 3rem 0;
}
aside {
    position: relative;
    width: 22rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 130px;
    color: #D8973C;
}
aside img {
    width: 300px;
    height: auto;
    border: var(--border);
    box-shadow: var(--box-shadow);
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.box{
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.indent {
    padding-left: 2rem;
}
header, footer{
    max-width: 840px;
    margin:0 auto;
}
header, .grid, footer{
    max-width: 1200px;
    margin: 0 auto;
}